@charset "utf-8";
#headline{
	width: 100%;
	height: 300px;
	min-width: 1263px;
	background:url("../img/top.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#headline .center{
	width: 1263px;
	height: 300px;
	margin: 0 auto;

}
#headline hgroup{
	padding: 100px 0 0 50px;
}
#headline h2{
	color: #eee;
	font-size: 36px;
	letter-spacing: 1px;

}
#headline h3{
	color: #eee;
	font-size: 20px;
	letter-spacing:1px;
}
#container{
	width: 1263px;
	margin: 30px auto;
}
#container .sidebar{
	width: 340px;
	background-color: #eee;
	float: right;
}
#container .sidebox{
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}
#container .sidebox h2{
	font-size: 20px;
	font-weight: normal;
	letter-spacing:1px;
	text-indent: 8px;
	height: 40px;
	line-height: 40px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
}
#container .tag{
	padding: 10px 0;
}
#container .tag li{
	font-size: 12px;
	background-color: #eee;
	display: inline-block;/*转换内联块*/
	vertical-align: top;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0;
	color: #999;
	text-align: center;
}
#container .tag a{
	display: block;
}
#container .tag a:hover{
	background-color: #458b00;
	color: #fff;
}
.actives a{
	background-color: #458b00;
	color: #fff;
}
.actives-box{
	background-color: #458b00 !important;
	color: #fff !important;
}
#container .figure{
	padding: 10px 0;

}
#container .figure img{
	width: 150px;
	height: 120px;
}
#container figure{
	display: inline-block;
	vertical-align: top;
	padding: 4px;
	color: #666;
	
}
#container .box{
	padding: 10px 0;
}
#container .box a{
	font-size: 12px;
	background-color: #eee;
	display: inline-block;/*转换内联块*/
	vertical-align: top;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 2px 0;
	color: #999;
	text-align: left;
	text-align: center;
}
#container .box a:hover{
	background-color: #458b00;
	color: #fff;

}
#container .list{
	width: 910px;
	/*background-color: #ccc;*/
	float: left;
}
#container .infor{
	background-color: #eee;
	height: 45px;
	line-height: 45px;
	margin: 0 0 20px 0;

}
#container .information .left{
	display: inline-block;
	vertical-align: top;
	float: left;
}
#container .information .left li{
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 43px;
	text-align: center;
	float: left;
}
#container .information .left a{
	color: #666;
}
#container .information .left .selected{
	background-color: #fff;
	border-top: 2px solid #45b800;
	position: relative;
	display: block;
	vertical-align: top;
	left: 1px;
	float: left;
}
#container .information .left a:hover{
	background-color: #fff;
	border-top: 2px solid #45b800;
	position: relative;
	display: block;
	vertical-align: top;
	left: 1px;
}

#container .information .right{
	display: inline-block;
	vertical-align: top;
	float: right;
	padding: 0 20px 0 0;
}
#container .information .right li{
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#container .information .right a{
	padding: 3px 8px;
	color: #666;
}
#container  .information .right li a.selected,#container .information .right a:hover{
	background-color: #45b800;
	color: #fff;
}
#container .tour{
	/*background-color: #ccc;*/
	width: 908px;
	padding: 0;
	margin: 0 0 20px 0;
	border: 1px solid #eee;
	position: relative;
}
#container .tour img{
	float: left;
	width: 380px;
	height: 230px;
} 
#container .tour figcaption{
	width: 528px;
	height: 230px;
	float: right;
}
#container .tour hgroup{
	width: 300px;
}
#container .tour h2{
	font-size: 24px;
	color: #333;
	font-weight: normal;
	padding: 10px 0 10px 25px;
}
#container .tour h3{
	font-size: 16px;
	color: #666;
	line-height: 1.5;
	font-weight: normal;
	padding: 10px 0 10px 25px;
}
#container .tour ol{
	padding: 0 0 0 25px;
	color: #666;
	line-height: 2;
}
#container .tour mark{
	background-color: #fff;
	border:1px solid #458b00;
	border-radius: 4px;
	padding: 0 5px;
	color: #458b00;
}
#container .tour .buy{
	position: absolute;
	top: 55px;
	right: 30px;

}
#container .tour .price{
	color: #f60;
	font-size: 20px;
}
#container .tour .price strong{
	font-size: 36px;
}
#container .tour .price s{
	font-size: 16px;
	color: #999;
}
#container .tour .reserve{
margin: 10px 0 0 0;
background-color: #f60;
border-radius: 4px;
}
#container .tour .reserve a{
	display: block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
#container .tour .type{
	width: 90px;
	height: 25px;
	line-height: 25px;
	background-color:#59b200; 
	font-size: 14px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
}
/*#container .tour .disc{
	position: absolute;
	top:0;
	right: 0;
	width: 52px;
	height: 52px;
	background-image: url(../img/5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 14px;
}*/
#container .tour footer{
	width: 528px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	text-indent: 25px;
	background-color: #fafafa;
	position: absolute;
	bottom: 0;

}
#container .tour time{
	color: #458b00;
}
#container .more{
	width: 200px;
	height: 50px;
	font-size: 18px;
	color: #666;
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #ccc;
	background-color: #fafafa;
	border-radius: 10px;
	cursor: pointer;

} 

