@charset "utf-8";
#headline{
	width: 100%;
	height: 300px;
	min-width: 1263px;
	background:url("../img/top.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#headline .center{
	width: 1263px;
	height: 300px;
	margin: 0 auto;

}
#headline hgroup{
	padding: 100px 0 0 50px;
}
#headline h2{
	color: #eee;
	font-size: 36px;
	letter-spacing: 1px;

}
#headline h3{
	color: #eee;
	font-size: 20px;
	letter-spacing:1px;
}
#container{
	width: 1263px;
	margin: 30px auto;
}
#container .sidebar{
	width: 340px;
	background-color: #eee;
	float: right;
}
#container .sidebox{
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}
#container .sidebox h2{
	font-size: 20px;
	font-weight: normal;
	letter-spacing:1px;
	text-indent: 8px;
	height: 40px;
	line-height: 40px;
	background-color: #fafafa;
	color: #666;
	text-align: left;
}
#container .tag{
	padding: 10px 0;
}
#container .tag li{
	font-size: 12px;
	background-color: #eee;
	display: inline-block;/*转换内联块*/
	vertical-align: top;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0;
	color: #999;
	text-align: center;
}
#container .tag a{
	display: block;
}
#container .tag a:hover{
	background-color: #458b00;
	color: #fff;

}
#container .figure{
	padding: 10px 0;

}
#container .figure img{
	width: 150px;
	height: 120px;
}
#container figure{
	display: inline-block;
	vertical-align: top;
	padding: 4px;
	color: #666;
	
}
#container .box{
	padding: 10px 0;
}
#container .box a{
	font-size: 12px;
	background-color: #eee;
	display: inline-block;/*转换内联块*/
	vertical-align: top;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 2px 0;
	color: #999;
	text-align: left;
	text-align: center;
}
#container .box a:hover{
	background-color: #458b00;
	color: #fff;

}
#container .list{
	width: 910px;
	/*background-color: #ccc;*/
	float: left;
}
#container .infor{
	background-color: #eee;
	height: 45px;
	line-height: 45px;
	margin: 0 0 20px 0;

}
#container .left{
	display: inline-block;
	vertical-align: top;
	float: left;
}
#container .left li{
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 43px;
	text-align: center;
}
#container .left a{
	color: #666;
}
#container .left li a.selected{
	background-color: #fff;
	border-top: 2px solid #45b800;
	position: relative;
	display: block;
	vertical-align: top;
	left: 1px;
}
#container .left a:hover{
	background-color: #fff;
	border-top: 2px solid #45b800;
	position: relative;
	display: block;
	vertical-align: top;
	left: 1px;
}

#container .right{
	display: inline-block;
	vertical-align: top;
	float: right;
	padding: 0 20px 0 0;
}
#container .right li{
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#container .right a{
	padding: 3px 8px;
	color: #666;
}
#container .right li a.selected,#container .right a:hover{
	background-color: #45b800;
	color: #fff;
}
#container .tour{
	/*background-color: #ccc;*/
	width: 908px;
	padding: 0;
	margin: 0 0 20px 0;
	border: 1px solid #eee;
	position: relative;
}
#container .tour img{
	float: left;
	width: 380px;
	height: 230px;
} 
#container .tour figcaption{
	width: 528px;
	height: 230px;
	float: right;
}
#container .tour hgroup{
	width: 300px;
}
#container .tour h2{
	font-size: 24px;
	color: #333;
	font-weight: normal;
	padding: 10px 0 10px 25px;
}
#container .tour h3{
	font-size: 16px;
	color: #666;
	line-height: 1.5;
	font-weight: normal;
	padding: 10px 0 10px 25px;
}
#container .tour ol{
	padding: 0 0 0 25px;
	color: #666;
	line-height: 2;
}
#container .tour mark{
	background-color: #fff;
	border:1px solid #458b00;
	border-radius: 4px;
	padding: 0 5px;
	color: #458b00;
}
#container .tour .buy{
	position: absolute;
	top: 55px;
	right: 30px;

}
#container .tour .price{
	color: #f60;
	font-size: 20px;
}
#container .tour .price strong{
	font-size: 36px;
}
#container .tour .price s{
	font-size: 16px;
	color: #999;
}
#container .tour .reserve{
margin: 10px 0 0 0;
background-color: #f60;
border-radius: 4px;
}
#container .tour .reserve a{
	display: block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
#container .tour .type{
	width: 90px;
	height: 25px;
	line-height: 25px;
	background-color:#59b200; 
	font-size: 14px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
}
#container .tour footer{
	width: 528px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 1px;
	text-indent: 25px;
	background-color: #fafafa;
	position: absolute;
	bottom: 0;

}
#container .tour time{
	color: #458b00;
}
#container .more{
	width: 200px;
	height: 50px;
	font-size: 18px;
	color: #666;
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #ccc;
	background-color: #fafafa;
	border-radius: 10px;
	cursor: pointer;
} 
#container .ticket{
	color: #666;
	font-size: 20px;
}
#container .ticket h2,#container .scenery h2,#container .about h2{
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	border-bottom: 1px dashed #999;
	padding: 0  0 15px 0;
	font-weight: normal;
}

#container .ticket .type{
	margin: 20px 0 10px 0;
}
#container .ticket .type mark{
	color: #fff;
	background-color: #458b00;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0 10px 0 16px;
}
#container .ticket .left{
	width: 43%;
}
#container .ticket .right{
	width: 43%;
	float: left;
}
/**/#container .ticket button{
	width: 9%;
 }
#container .ticket .submit{
	display: inline-block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	background-color: #f60;
	font-size: 20px;
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	/*position:absolute;*/
	bottom: 4px;
}
#container .ticket input{
	width: 250px;
	height: 30px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin: 0 0 10px 16px;
	font-size: 18px;
    padding-left: 8px;
}
#container .ticket .new{
	margin: 20px 0 0 0;

}
#container .ticket .new li{
	display: inline-block;
	padding: 5px 10px;
}
#container .ticket .new li:first-child{
	padding-left: 0;
}
#container .ticket .new li:nth-child(2){
	background-color: #458b00;
	color: #fff;
	border-radius: 4px;
}
#container .ticket table{
	margin:20px 0 0 0;
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;

}
#container .ticket th{
	border-bottom: 1px solid #ddd;
	height: 50px;
	line-height: 50px;
}
#container .ticket td{
	border: 1px solid #ddd;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
#container .ticket tr:nth-child(2n){
	background-color: #fafafa;
}
#container .ticket tr:hover{
	background-color: #eee;
}
#container .ticket .price{
	color: #f60;
}
#container .ticket .gengduo{
	color: #666;
}
#container .ticket  .reserve{
	display: inline-block;
	width: 80px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 4px;
	font-size: 20px;
	color: #fff;
	background-color: #f60;
}

